.menu_button{
	border-radius: 10px;
	background-color:#666666;
	color:white;
	margin:0.3%;
	padding:3% 0%;
	text-align:center;
	text-decoration:none;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}