.menu_button{
	border-radius: 10px;
	background-color:#666666;
	color:white;
	margin:0.3%;
	padding:3% 0%;
	text-align:center;
	text-decoration:none;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Äëÿ Firefox */
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Äëÿ Safari è Chrome */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 1% 0;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}


.blockbkg {
     background-color: black;
     opacity: 90%;
     filter:alpha(opacity=90);
     background-color: rgba(0,0,0,0.90);
     width: 100%;
     height: 100%;
     overflow: hidden;
     float: absolute;
     position: fixed;
     top: 0;
     left: 0;
     color: white;
   }
.cont {
	background-color: white;
	color: black;
	border: 2px solid gray;
	padding: 1%;
	top: 5%;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.closebtn {
  
}
.closebtn:hover {
  cursor: pointer;
}
.normal {
}

.calc_but{
	width: 100%;
	height: 100%;
	margin: 5% 0;
	font-size: larger;
}

.box{
	width: 100%;
	font-size: larger;
}

.box:hover{
	border-color: red;
}

.okbtn{
	width: 100%;
	font-size: larger;
}

.justtext{
	width: 100%;	
}
.selement{
	width: 100%;	
	font-size: xx-large;
}